{% extends 'base.html' %}

{% block content %}
        <!-- Weather section -->
        <div class="weather-container">
            <section class="top-banner">
                <div class="container">
                    <h1 class="weather-header">Weather App</h1>
                    <form>
                        <input type="text" placeholder="Search for a city" autofocus>
                        <button type="submit">SUBMIT</button>
                        <span class="msg"></span>
                    </form>
                </div>
            </section>
            <section class="ajax-section">
                <div class="container">
                    <ul class="cities"></ul>
                </div>
            </section>
        </div>
        <!-- end of weather section -->

    <!-- end of navigation bar -->
{% endblock content %}